apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
  namespace: msp360
type: kubernetes.io/dockerconfigjson
data:
  # This needs to be generated - see instructions below
  .dockerconfigjson: <BASE64_ENCODED_DOCKER_CONFIG>

---
# INSTRUCTIONS TO CREATE THIS SECRET:
#
# Option 1: Create via kubectl (RECOMMENDED)
# ------------------------------------------
# 1. Create a GitHub Personal Access Token (PAT) with 'read:packages' scope:
#    https://github.com/settings/tokens/new
#
# 2. Run this command on your K3s cluster:
#
#    kubectl create secret docker-registry ghcr-secret \
#      --namespace=msp360 \
#      --docker-server=ghcr.io \
#      --docker-username=YOUR_GITHUB_USERNAME \
#      --docker-password=YOUR_GITHUB_PAT \
#      --docker-email=YOUR_EMAIL
#
# Option 2: Create manually
# -------------------------
# 1. Create this JSON file (auth.json):
#    {
#      "auths": {
#        "ghcr.io": {
#          "username": "YOUR_GITHUB_USERNAME",
#          "password": "YOUR_GITHUB_PAT",
#          "auth": "BASE64(username:password)"
#        }
#      }
#    }
#
# 2. Base64 encode the file:
#    cat auth.json | base64 -w 0
#
# 3. Replace <BASE64_ENCODED_DOCKER_CONFIG> above with the output
#
# Option 3: Make the package public
# ---------------------------------
# Go to your GitHub repo -> Packages -> Package Settings -> Change visibility to Public
# Then you don't need imagePullSecrets at all

