apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  # The plugin decrypts msp360-secrets.enc.yaml to msp360-secrets.yaml
  - secrets/msp360-secrets.yaml

